<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChaiFinder.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>18105CD601819184BC6640FB59E3B3659F0FDF6A</string>
				<key>dateExpires</key>
				<string>6/18/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18105CD601819184BC6640FB59E3B3659F0FDF6A</string>
						<key>dateExpires</key>
						<string>6/18/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5BCDB4G2ZG</string>
						<key>name</key>
						<string>Rahim Karmali</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18105CD601819184BC6640FB59E3B3659F0FDF6A</string>
						<key>dateExpires</key>
						<string>6/18/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5BCDB4G2ZG</string>
						<key>name</key>
						<string>Rahim Karmali</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18105CD601819184BC6640FB59E3B3659F0FDF6A</string>
						<key>dateExpires</key>
						<string>6/18/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5BCDB4G2ZG</string>
						<key>name</key>
						<string>Rahim Karmali</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18105CD601819184BC6640FB59E3B3659F0FDF6A</string>
						<key>dateExpires</key>
						<string>6/18/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5BCDB4G2ZG</string>
						<key>name</key>
						<string>Rahim Karmali</string>
					</dict>
					<key>versionNumber</key>
					<string>1.62.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>18105CD601819184BC6640FB59E3B3659F0FDF6A</string>
						<key>dateExpires</key>
						<string>6/18/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5BCDB4G2ZG</string>
						<key>name</key>
						<string>Rahim Karmali</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.32</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5BCDB4G2ZG.rfk.ChaiSpotFixed</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>5BCDB4G2ZG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ChaiFinder.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>efece934-2493-4049-815d-e1a3e9e67514</string>
				<key>dateExpires</key>
				<string>6/18/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: rfk.ChaiSpotFixed</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5BCDB4G2ZG</string>
				<key>name</key>
				<string>Rahim Karmali</string>
			</dict>
			<key>versionNumber</key>
			<string>1.3</string>
		</dict>
	</array>
</dict>
</plist>
