<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>ChaiFinder</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1031321306480-kd7q1l665fgpreapmamb72j5p1ehlnrd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.1031321306480-kd7q1l665fgpreapmamb72j5p1ehlnrd
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist version="1.0"&gt;
&lt;string&gt;com.googleusercontent.apps.1031321306480-kd7q1l665fgpreapmamb72j5p1ehlnrd&lt;/string&gt;
&lt;/plist&gt;
</string>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show nearby chai spots.


</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
